<?xml version="1.0"?>
<launch>
	
	<include file="$(find velodyne_height_map)/launch/velodyne_height_map.launch"/>

	<node name="mcl" pkg="local_tutorials" type="mcl" output="screen" >
		<remap from="velodyne_points" to="velodyne_obstacles" />

	</node>
	
	<node name="pcd2grid" pkg="local_tutorials" type="pcd2grid" args="$(find maps)/d_kan_indoor_after.pcd" />		

	<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />		

</launch>

