<?xml version="1.0"?>
<launch>

	<node name="odometer" pkg="local_tutorials" type="odometer" output="screen"  >		
		<param name="parent_frame" value="/map" />
		<!-- <param name="child_frame" value="/matching_base_link" /> -->
		<param name="child_frame" value="/gyrodometry" />
		
		<remap from="/odom" to="/tinypower/odom" />
	</node>
</launch>
